<ion-content padding class="card-background-page">
  <div *ngIf="listPhotographers">
    <ion-card class="card" *ngFor="let photographer of listPhotographers">

      <ion-item>
        <ion-avatar item-start>
          <img src="{{photographer.avatar}}" (click)="goToPhotosPhotographer(photographer)">
        </ion-avatar>
        <button ion-button clear color="dark" (click)="goToPhotosPhotographer(photographer)">
          <h2>
            <b>{{photographer.name}}</b>
          </h2>
        </button>
      </ion-item>

      <img src="{{photographer.urlPicture}}">

      <ion-card-content>
        {{photographer.description}}
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-start clear>
            <a href="#" onclick="window.open('https://www.facebook.com', '_system', 'location=yes'); return false;">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear>
            <a href="#" onclick="window.open('https://www.instagram.com', '_system', 'location=yes'); return false;">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear>
            <a href="#" onclick="window.open('https://www.twitter.com', '_system', 'location=yes'); return false;">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>