  <ion-content padding class="card-background-page">
    <div *ngIf="listPhotographers">
      <ion-card *ngFor="let photographer of listPhotographers" (click)="goToPhotosPhotographer( photographer.name)">
        <ion-card>
          <img src="{{photographer.urlPicture}}">
          <ion-card-content>
            <ion-card-title>
              {{photographer.title}}
            </ion-card-title>
            <p>
              {{photographer.description}}
            </p>
          </ion-card-content>
        </ion-card>
        