page-page1 {
    .all{
        background-color: rgba(252, 252, 252, 0.959);
    }
    .search-bar{
        padding-top: 3.2em;
    }

    .picture{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 0.5em;
    }
    
  
}
