<ion-header>
  <ion-title class="title">Gallery</ion-title>
</ion-header>

<div class="all"></div>

<button class="search_button" ion-button icon-only small color="light" (click)="goToSearchBarPage()" ng-hide="showDiv=false">
  <ion-icon name="search"></ion-icon>
</button>

<ion-content padding class="card-background-page">
  <div *ngIf=listPhotos class="list">
    <div *ngFor="let photo of listPhotos">
      <span id="picture">
        <img src="{{photo.urlPhoto}}" style="width: 80%;" class="picture"imageViewer>
        <div class="info">{{photo.photographer}}, <i>{{photo.nomPhoto}}</i></div>
      </span>
    </div>
  </div>

</ion-content>